
/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

fieldset {
	border: 0;
}

a img {
	border: 0;
}

.clear {
	clear: both;
	font-size: 0;
	height: 0;
}

a {
	color: #c7817b;
	text-decoration: none;
}

a:hover {
	color: #ae4d44;
	text-decoration: none;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	margin: 0;
	padding: 0 0 30px;
	background: #372e27;
}

p {
	line-height: 1.5;
	padding: .5em 0;
}

h1,
h2,
h3,
h4 {
}

h1 {
	font-size: 24px;
	line-height: 1;
	font-weight: normal;
}

h2,
h3 {
	font-size: 18px;
	line-height: 1.2;
	padding: .3em 0;
}

h3 {
}

h4 {
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 5px;
}
blockquote {
	font-style:italic;
	border-left:4px solid #ddd;
	margin:10px 0 10px 0;
	padding-left:20px;
	line-height:1.5;
	color:#888;
}


.container {
	width: 760px;
	margin: 0 auto;
}

.header-wrap {
	background: url(header-bg.png) repeat-x top;
	border-bottom: 3px solid #afa490;
	padding-bottom: 30px;
}

.container.main {
	position: relative;
	top: -20px;
}

#header {
	line-height: 1;
	padding: 9px 150px 0 0;
	position: relative;
}

#header-right a {
	color: #eeb8b3;
}

#header-right a:hover {
	color: #fff;
}

#flower-top-r {
	position: absolute;
	width: 305px;
	height: 370px;
	top: 0;
	right: -125px;
	background: url(top-right.png) no-repeat;
}

#title {
	float: left;
	line-height: 1;
	background: url(logo.png) left center no-repeat;
	padding-left: 113px;
}

#title,
#title a {
	font-family: Palatino Linotype, "Times New Roman", Times, serif;
	font-size: 28px;
	line-height: 1;
	font-weight: normal;
	font-style: italic;
	color: #ca3e1b;
	text-decoration: none;
}

/* Navigation
--------------------------------------------------------------------------------*/

#navigation {
	line-height: 1;
	float: left;
	width: 165px;
	padding: 50px 0 0;
}

#navigation ul {
}

#navigation li {
	position: relative;
}

#navigation li a {
	display: block;
	border: 0;
	border-bottom: 1px dotted #605247;
	color: #fff;
	font-size: 12px;
	text-align: right;
	text-transform: capitalize;
	text-decoration: none;
	padding: 13px 3px 7px;
}

#navigation li a:hover,
#navigation li#active a {
	background: #2b241e;
	color: #d09590;
}

/* Navigation Drop-Down Menu Customization
--------------------------------------------------------------------------------*/

#wsite-menus .wsite-menu li a {
	padding: 8px;
	color: #c7817b;
	text-align: left;
	background: #f9e2e0;
	border: 0;
	border-bottom: 1px dotted #c7817b;
}

#wsite-menus .wsite-menu li a:hover {
	color: #fff;
	background: #e8bfbb;
	border: 0;
	border-bottom: 1px dotted #c7817b;
}

/* TOP RIGHT HEADER (area with phone #, social, and search box)
--------------------------------------------------------------------------------*/

#header-right {
	float: right;
	height: 30px;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 32px;
}

#header-right td {
	padding: 0;
	vertical-align: middle;
	text-align: right;
}

/* TOP RIGHT: Phone Number
--------------------------------------------------------------------------------*/

#header-right .phone-number {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	padding-top: 2px;
}

/* TOP RIGHT: Content Area
--------------------------------------------------------------------------------*/

#header-right .wsite-social {
	margin: 0 0 0 10px;
}
.wsite-social-item {
	width: 20px;
	height: 20px;
	margin: 0 0 0 3px;
	background-image:url(social-lightpink.png);
}

.wsite-social-facebook {background-position:0 0;}
	.wsite-social-facebook:hover {background-position:0 -20px;}
	.wsite-social-facebook:active {background-position:0 -40px;}
.wsite-social-pinterest {background-position:-20px 0;}
	.wsite-social-pinterest:hover {background-position:-20px -20px;}
	.wsite-social-pinterest:active {background-position:-20px -40px;}
.wsite-social-twitter {background-position:-40px 0;}
	.wsite-social-twitter:hover {background-position:-40px -20px;}
	.wsite-social-twitter:active {background-position:-40px -40px;}
.wsite-social-linkedin {background-position:-60px 0;}
	.wsite-social-linkedin:hover {background-position:-60px -20px;}
	.wsite-social-linkedin:active {background-position:-60px -40px;}
.wsite-social-mail {background-position:-80px 0;}
	.wsite-social-mail:hover {background-position:-80px -20px;}
	.wsite-social-mail:active {background-position:-80px -40px;}
.wsite-social-rss {background-position:-100px 0;}
	.wsite-social-rss:hover {background-position:-100px -20px;}
	.wsite-social-rss:active {background-position:-100px -40px;}
.wsite-social-flickr {background-position:-120px 0;}
	.wsite-social-flickr:hover {background-position:-120px -20px;}
	.wsite-social-flickr:active {background-position:-120px -40px;}
.wsite-social-plus {background-position:-140px 0;}
	.wsite-social-plus:hover {background-position:-140px -20px;}
	.wsite-social-plus:active {background-position:-140px -40px;}
.wsite-social-vimeo {background-position:-160px 0;}
	.wsite-social-vimeo:hover {background-position:-160px -20px;}
	.wsite-social-vimeo:active {background-position:-160px -40px;}
.wsite-social-yahoo {background-position:-180px 0;}
	.wsite-social-yahoo:hover {background-position:-180px -20px;}
	.wsite-social-yahoo:active {background-position:-180px -40px;}
.wsite-social-youtube {background-position:-200px 0;}
	.wsite-social-youtube:hover {background-position:-200px -20px;}
	.wsite-social-youtube:active {background-position:-200px -40px;}

/* TOP RIGHT: Search Box
--------------------------------------------------------------------------------*/

#header-right .wsite-search {
	vertical-align: middle;
	width: 193px;
	height: 27px;
	margin: 0 0 0 12px;
	background: transparent url(searchForm-bg.png) no-repeat;
}

#header-right .wsite-search-input {
	vertical-align: top;
	border: 0;
	background: none;
	padding: 7px 8px 5px 10px !important;
	width: 143px;
	height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #f5ecdb;
	font-size: 12px;
}

#header-right .wsite-search-button {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	font-size: 0;
	border: 0;
	margin: 0;
	padding: 0;
	width: 28px;
	height: 25px;
	background: none;
}

/* Footer
--------------------------------------------------------------------------------*/

#footer {
	padding: 35px 0 0 210px;
	color: #fff;
	font-size: 12px;
	text-align: right;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
	color: #eeb8b3;
}

#footer blockquote {
	border-left:4px solid #51453c;
	color:#aa988b;
}

#footer .wsite-form-label {color:#fff;}

.rights {
	vertical-align: middle;
}

.wsite-footer {  /* make sure enough space between element footer and attribution */
	margin-bottom: 15px;
}

#footer hr {background:#A9927D !important;}

#footer h2 {
	font-size:16px;
	border-bottom:1px solid #a9927d;
}

/* Footer Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-container {
	margin-top:0px !important;
	text-align:left !important;
}

.wsite-footer .wsite-form-label {
	font-size: 1em !important;
	padding: 5px 0 2px 0 !important;
}

.wsite-footer .wsite-form-field {
	width:300px !important;
}

.wsite-footer .form-radio-container {
	font-size:1em !important;
}

.wsite-footer .wsite-form-input {
	font-size: 1em !important;
	width: 100% !important;
	background-color:#fff;
}

.wsite-footer .form-select {
	width: 100% !important;
	background-color:#fff;
}


/* main contents styles
--------------------------------------------------------------------------------*/

#main-wrap {
}

#main {
	float: right;
	width: 572px;
	background: url(main-top.png) no-repeat;
	position: relative;
}

#main-bot {
	background: url(main-bot.png) bottom no-repeat;
	padding: 5px 0;
	position: relative;
}

#main-in {
	background: #fff;
	padding: 14px 19px 20px 20px;
}

#flower-bot-r {
	position: absolute;
	width: 107px;
	height: 164px;
	right: -53px;
	bottom: 13px;
	background: url(bottom-right.png) no-repeat;
}

#flower-bot-l {
	position: absolute;
	width: 108px;
	height: 134px;
	left: -47px;
	bottom: -32px;
	background: url(bottom-left.png) no-repeat;
}

#banner,
#banner-left {
	padding: 7px;
	background: #f2e6d0;
	border: 1px solid #cec3ac;
	position: relative;
	margin: 0 0 25px;
}

#tl,
#tr,
#bl,
#br {
	position: absolute;
	width: 6px;
	height: 6px;
}

#tl {
	background: url(tl.png) no-repeat;
	left: -1px;
	top: -1px;
}

#tr {
	background: url(tr.png) no-repeat;
	right: -1px;
	top: -1px;
}

#bl {
	background: url(bl.png) no-repeat;
	left: -1px;
	bottom: -1px;
}

#br {
	background: url(br.png) no-repeat;
	right: -1px;
	bottom: -1px;
}

.wsite-header {
}

#content {
	min-height: 400px;
	padding: 0 2px 0 1px;  /* to make width match old theme */
}

/* PAGE TYPE: tall-header
--------------------------------------------------------------------------------*/

.tall-header-page .wsite-header {  /* the user-editable image */
	height: 236px;
	background: url(banner-tall.jpg) no-repeat;
}

/* PAGE TYPE: short-header
--------------------------------------------------------------------------------*/

.short-header-page .wsite-header {  /* the user-editable image */
	height: 136px;
	background: url(banner-short.jpg) no-repeat;
}

/* PAGE TYPE: no-header
--------------------------------------------------------------------------------*/

.no-header-page #main-in {
	padding-top: 15px;
}

.no-header-page #banner {
	display: none;
}

/* PAGE TYPE: landing
--------------------------------------------------------------------------------*/

.landing-page #banner {
	background: none;
	border: 0;
	border-bottom: 1px solid #cec3ac;
	padding: 0 0 27px;
	overflow: hidden;
}

.landing-page #tl,
.landing-page #tr,
.landing-page #bl,
.landing-page #br {
	display: none;
}

#banner-inner {
	width: 100%;
	overflow: hidden;
}

#banner-left {
	float: left;
	width: 257px;
	margin: 0;
}

#banner-left .wsite-header {  /* the user-editable image */
	height: 246px;
	background: url(banner-landing.jpg) no-repeat;
}

#banner-right {
	float: right;
	width: 234px;
	height: 262px;
	padding: 0px;
}

#banner-right h2 {
	font-size: 22px;
	padding: 0px;
	line-height: 22px;
}

#banner-right p {
	font-size: 14px;
	padding: 20px 0px;
	line-height: 140%;
}

.landing-banner-outer {
	display: table; 
	#position: relative; 
	overflow: hidden;
}

.landing-banner-mid {
	#position: absolute; 
	#top: 50%;
	display: table-cell; 
	vertical-align: middle;
}

.landing-banner-inner {
	#position: relative; 
	#top: -50%;
}

/* PAGE TYPE: splash
--------------------------------------------------------------------------------*/

.splash-page .wsite-header {  /* the user-editable image */
	height: 136px;
	background: url(banner-splash.jpg) no-repeat;
}

.splash-page {
	background-position: 0 -20px;
}

.splash-page #container {
	width: 660px;
}

.splash-page #header-right {
	padding: 0;
}

.splash-page #flower-top-r {
	width: 449px;
	height: 340px;
	background: url(top-right-splash.png) no-repeat;
}

.splash-page #header-right .social {
	display: none;
}

.splash-page #header-right .phone-number {
	display: none;
}

.splash-page #navigation {
	display: none;
}

.splash-page .search {
	display: none;
}

.splash-page #main {
	background-image: url(main-top-splash.png);
}

.splash-page #main-bot {
	background-image: url(main-bot-splash.png);
}

.splash-page #main-in {
}

.splash-page #content {
	height: auto !important;
	min-height: 400px;
}

.splash-page #footer {
	padding-left: 105px;
	padding-right: 23px;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
	display: inline-block;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0 4px;
}

.form-radio-container {
}

.wsite-form-input, .wsite-search-element-input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: #fff;
	color: #333;
	border: 1px solid #cec3ac;
	padding: 6px 5px 6px 5px !important;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.form-select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: #fff;
	color: #333;
	border: 1px solid #cec3ac;
	padding: 3px;
	height: 30px;
	line-height: 16px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Buttons
--------------------------------------------------------------------------------*/


/* small */

.wsite-button {
	color: #fff !important;
	height: 34px;
	display: inline-block;
	font-size: 14px;
	border: none;
	font-weight: bold;
	text-decoration: none;
	padding: 0 10px 0 0;
	background: url(button.png) no-repeat 100% -105px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.9);
}

.wsite-button:hover {
	color: #fff;
}

.wsite-button:hover {
	background-position: 100% -140px;
}

.wsite-button:active {
	background-position: 100% -175px;
}

.wsite-button-inner {
	height: 34px;
	line-height: 34px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border: none;
	text-decoration: none;
	padding: 0 10px 0 20px;
	background: url(button.png) no-repeat 0 0;
}

.wsite-button:hover .wsite-button-inner {
	background-position: 0 -35px;
}

.wsite-button:active .wsite-button-inner {
	background-position: 0 -70px;
}

/* large */

.wsite-button-large {
	height: 41px;
	background: url(button_large.png) no-repeat 100% -126px;
	padding: 0 10px 0 0;
}

.wsite-button-large:hover {
	background-position: 100% -168px;
}

.wsite-button-large:active {
	background-position: 100% -210px;
}

.wsite-button-large .wsite-button-inner {
	height: 41px;
	line-height: 41px;
	padding: 0 10px 0 20px;
	background: url(button_large.png) no-repeat 0 0;
}

.wsite-button-large:hover .wsite-button-inner {
	background-position: 0 -42px;
}

.wsite-button-large:active .wsite-button-inner {
	background-position: 0 -84px;
}

/* highlight */

/*
Making the highlighted versions of the buttons is easy because we just need
to switch out the background images. This works because the different button
states (normal, :hover, :active) have their sprite coordinates in the same places.
*/

.wsite-button-large.wsite-button-highlight {
	background-image: url(button_large_highlight.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
	background-image: url(button_large_highlight.png);
}

.wsite-button-highlight {
	color: #fff;
	background-image: url(button_highlight.png);
}

.wsite-button-highlight .wsite-button-inner {
	background-image: url(button_highlight.png);
}
